body{
    background-color: #F5F5F5;
    font-family: sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

/* content div styles */
h1 {
    padding-top: 10px;
    margin: 0;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*consultation*/
#consultation {
    width: 450px;
    height: 350px;
    margin: 50px 0 30px 80px;
    background: #D7CEC7;
    border-radius: 25px;
    border: solid 0.5px #836D5D;
    float: left;
}

#desc1 {
    width: 800px;
    height: 350px;
    margin: 50px 80px 30px 0;
    background: #D7CEC7;
    border-radius: 25px;
    border: solid 0.5px #836D5D;
    float: right;
}

/*session*/
#session {
    width: 450px;
    height: 350px;
    margin: 50px 0 30px 80px;
    background: #D7CEC7;
    border-radius: 25px;
    border: solid 0.5px #836D5D;
    float: left;
}

#desc2 {
    width: 800px;
    height: 350px;
    margin: 50px 80px 30px 0;
    background: #D7CEC7;
    border-radius: 25px;
    border: solid 0.5px #836D5D;
    float: right;
}

/*chiropractic*/
#chiropractic {
    width: 450px;
    height: 350px;
    margin: 50px 0 30px 80px;
    background: #D7CEC7;
    border-radius: 25px;
    border: solid 0.5px #836D5D;
    float: left;
}

#desc3 {
    width: 800px;
    height: 350px;
    margin: 50px 80px 30px 0;
    background: #D7CEC7;
    border-radius: 25px;
    border: solid 0.5px #836D5D;
    float: right;
}
